# Java Maven CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2.1

executors:
  java-image:
    working_directory: ~/repo
    environment:
      JAVA_TOOL_OPTIONS: -Xmx1024m
    docker:
      - image: autonomic-docker-public-images.bintray.io/tmc/java
        auth:
          username: ${BT_PUBLIC_USERNAME}
          password: ${BT_PUBLIC_API_TOKEN}
  sonar-image:
    working_directory: ~/repo
    environment:
      LANGUAGE: JAVA
      JAVA_TOOL_OPTIONS: -Xmx1024m
    docker:
      - image: autonomic-docker-private-images.bintray.io/tmc/sonar
        auth:
          username: ${BT_PRIVATE_USERNAME}
          password: ${BT_PRIVATE_API_TOKEN}
  gitleaks-image:
    working_directory: ~/repo
    docker:
      - image: autonomic-docker-private-images.bintray.io/tmc/gitleaks
        auth:
          username: ${BT_PRIVATE_USERNAME}
          password: ${BT_PRIVATE_API_TOKEN}


jobs:
  scan_secrets:
    executor: gitleaks-image
    steps:
      - checkout
      - run: gitleaks

  build:
    executor: java-image
    steps:
      - checkout

      - run: mvn clean
      - run:
          command: |
            cd ~/repo/examples/gradle-example
            ./gradlew clean
      # Download and cache dependencies
      - restore_cache:
          keys:
            - v3-dependencies-{{ checksum "pom.xml" }}-{{ checksum "examples/maven-example/pom.xml" }}-{{ checksum "examples/gradle-example/build.gradle" }}
      - run: ./gradlew build
      - run:
          command: |
            cd ~/repo
            mvn dependency:go-offline compile -DprocessAllModules -Pintegration-tests

      - persist_to_workspace:
          root: /root
          paths:
            - repo
            - .m2
            - .gradle

      - save_cache:
          paths:
            - ~/.m2
            - ~/.gradle
          key: v3-dependencies-{{ checksum "pom.xml" }}

  test:
    executor: java-image
    steps:
      - attach_workspace:
          at: /root

      - run: mvn -Pintegration-tests verify

      - run:
          name: Save test results
          command: |
            mkdir -p ~/test-output
            cp -fr target/surefire-reports ~/test-output
            cp -fr target/site/jacoco ~/test-output
          when: always

      - store_test_results:
          path: ~/test-output
      - store_artifacts:
          path: ~/test-output

      - persist_to_workspace:
          root: /root
          paths:
            - repo

  examples:
    executor: java-image
    steps:
      - attach_workspace:
          at: /root
      - run:
          name: Run Maven Example
          command: |
            cd ~/repo/examples/maven-example
            mvn spring-boot:run
      - run:
          name: Run Gradle Example
          command: |
            cd ~/repo/examples/gradle-example
            ./gradlew run

  sonar:
    executor: sonar-image
    steps:
      - attach_workspace:
          at: /root
      - run:
          name: Analyze on SonarCloud
          command: ../sonar.sh


  #publish artifact to OSS repo
  publish-public:
    executor: java-image
    steps:
      - checkout

      - restore_cache:
          keys:
            - v3-publish-dependencies-{{ checksum "pom.xml" }}
      - run: mvn versions:set -DnewVersion=${CIRCLE_TAG}
      - run: mvn deploy -Prun-revapi

workflows:
  version: 2.1
  build_and_test:
    jobs:
      - scan_secrets
      - build:
          requires:
            - scan_secrets
          context: tmc-oss-context
      - test:
          requires:
            - build
          context: tmc-oss-context
      - examples:
          requires:
            - build
          context: tmc-oss-context
      - sonar:
          requires:
            - test
  release:
    jobs:
      #Run Publish on GitHub release
      - publish-public:
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
  nightly:
    triggers:
      - schedule:
          # At 12:00 AM, Nightly UTC
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build:
          context: tmc-oss-context
