# Java Maven CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2.1

executors:
  java-image:
    working_directory: ~/repo
    environment:
      JAVA_TOOL_OPTIONS: -Xmx1024m
    docker:
      - image: autonomic-docker-public-images.bintray.io/tmc/java
        auth:
          username: ${BT_PUBLIC_USERNAME}
          password: ${BT_PUBLIC_API_TOKEN}
  private-java-image:
    working_directory: ~/repo
    environment:
      JAVA_TOOL_OPTIONS: -Xmx1024m
    docker:
      - image: autonomic-docker-private-images.bintray.io/tmc/java
        auth:
          username: ${BT_PRIVATE_USERNAME}
          password: ${BT_PRIVATE_API_TOKEN}
  sonar-image:
    working_directory: ~/repo
    environment:
      LANGUAGE: JAVA
      JAVA_TOOL_OPTIONS: -Xmx1024m
    docker:
      - image: autonomic-docker-private-images.bintray.io/tmc/sonar
        auth:
          username: ${BT_PRIVATE_USERNAME}
          password: ${BT_PRIVATE_API_TOKEN}
  gitleaks-image:
    working_directory: ~/repo
    docker:
      - image: autonomic-docker-private-images.bintray.io/tmc/gitleaks
        auth:
          username: ${BT_PRIVATE_USERNAME}
          password: ${BT_PRIVATE_API_TOKEN}

jobs:
  scan_secrets:
    executor: gitleaks-image
    steps:
      - checkout
      - run: gitleaks

  build:
    executor: java-image
    steps:
      - checkout

      - run: mvn clean
      - run:
          command: |
            cd ~/repo/examples/gradle-example
            ./gradlew clean
      # Download and cache dependencies
      - restore_cache:
          keys:
            - v3-dependencies-{{ checksum "pom.xml" }}-{{ checksum "examples/maven-example/pom.xml" }}-{{ checksum "examples/gradle-example/build.gradle" }}
      - run:
          name: maven install
          command: |
            cd ~/repo
            mvn install dependency:go-offline -DprocessAllModules -DskipTests
      - run:
          name: gradle build
          command: |
            cd ~/repo/examples/gradle-example
            ./gradlew build
      - persist_to_workspace:
          root: /root
          paths:
            - repo
            - .m2
            - .gradle

      - save_cache:
          paths:
            - ~/.m2
            - ~/.gradle
          key: v3-dependencies-{{ checksum "pom.xml" }}-{{ checksum "examples/maven-example/pom.xml" }}-{{ checksum "examples/gradle-example/build.gradle" }}

  test:
    executor: java-image
    steps:
      - attach_workspace:
          at: /root

      - run: mvn verify -Pintegration-tests -o

      - run:
          name: Save test results
          command: |
            mkdir -p ~/test-output
            cp -fr target/surefire-reports ~/test-output
            cp -fr target/site/jacoco ~/test-output
          when: always

      - store_test_results:
          path: ~/test-output
      - store_artifacts:
          path: ~/test-output

      - persist_to_workspace:
          root: /root
          paths:
            - repo

  examples:
    executor: java-image
    steps:
      - attach_workspace:
          at: /root
      - run:
          name: Run Maven Example
          # M2_HOME so ./mvnw can leverage the cache
          # unset MAVEN_CONFIG so that ./mvnw will not error
          command: |
            cd ~/repo/examples/maven-example
            export M2_HOME=$MAVEN_CONFIG
            export MAVEN_CONFIG=
            ./run.sh LOCAL-SNAPSHOT
      - run:
          name: Run Gradle Example
          command: |
            cd ~/repo/examples/gradle-example
            ./run.sh LOCAL-SNAPSHOT

  examples-nightly:
    executor: java-image
    steps:
      - checkout
      - restore_cache:
          keys:
            - v3-publish-dependencies-{{ checksum "pom.xml" }}
      - run:
          name: Run Maven Example
          # M2_HOME so ./mvnw can leverage the cache
          # unset MAVEN_CONFIG so that ./mvnw will not error
          command: |
            cd ~/repo/examples/maven-example
            export M2_HOME=$MAVEN_CONFIG
            export MAVEN_CONFIG=
            ./run.sh
      - run:
          name: Run Gradle Example
          command: |
            cd ~/repo/examples/gradle-example
            ./run.sh

  sonar:
    executor: sonar-image
    steps:
      - attach_workspace:
          at: /root
      - run:
          name: Analyze on SonarCloud
          command: ../sonar.sh

  #publish artifact to OSS repo
  publish-public:
    executor: java-image
    steps:
      - checkout

      - restore_cache:
          keys:
            - v3-publish-dependencies-{{ checksum "pom.xml" }}
      - run: mvn versions:set -DnewVersion=${CIRCLE_TAG}
      - run: mvn deploy -Prun-revapi,public
  publish-private:
    executor: private-java-image
    steps:
      - checkout

      - restore_cache:
          keys:
            - v3-publish-dependencies-{{ checksum "pom.xml" }}
      - run: mvn versions:set -DnewVersion=${CIRCLE_TAG}
      - run: mvn deploy -Prun-revapi,private

workflows:
  version: 2.1
  build_and_test:
    jobs:
      - scan_secrets
      - examples-nightly
      - build:
          requires:
            - scan_secrets
          context: tmc-oss-context
      - test:
          requires:
            - build
          context: tmc-oss-context
      - examples:
          requires:
            - build
          context: tmc-oss-context
      - sonar:
          requires:
            - test
  release:
    jobs:
      #Run Publish on GitHub release
      - publish-public:
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
      - publish-private:
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
  nightly:
    triggers:
      - schedule:
          # At 12:00 AM, Nightly UTC
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - examples-nightly:
          context: tmc-oss-context
